.btn-edit-description,
.delete-button,
.btn-publicar {
    border: thin;
    background-color: transparent;
}
.container {
    margin-left: 3rem;
}
.main-content {
    margin-left: 0;
    transition: 0.5s;
}
.sidebar.open {
    width: 250px;
    transition: 0.5s;
}
.dialogAlbum,
.dialogAlbum.open {
    transition: opacity 0.15s linear, transform 0.15s linear;
}
.sidebar.open + .main-content {
    margin-left: 250px;
    transition: 0.5s;
}
.logo img {
    max-width: 100px;
    margin-right: 10px;
}
.title {
    flex: 1;
}
.pagination {
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.botones-utilidades {
    position: absolute;
    bottom: 0;
    padding: 13px;
    right: 0;
    display: flex;
}
.card-body,
.image-container {
    position: relative;
}
.botones-utilidades .bi-download,
.botones-utilidades .bi-pencil-square,
.botones-utilidades .bi-trash3,
.botones-utilidades .bi-eye-slash,
.botones-utilidades .checkboxHerramienta {
    margin-left: 3px;
}
.botones-utilidades a,
.botones-utilidades button,
.botones-utilidades input {
    padding: 0.2rem;
}
.botones-utilidades .btn-edit-description {
    color: gray;
}
.botones-utilidades .bi-trash3 {
    color: red;
}
.botones-utilidades .bi-download {
    color: green;
}
.botones-utilidades .bi-eye, .bi-eye-slash{
    color: lightblue;
}
.original-description {
    display: block;
}
.ColorAzul{
    background-color: #20327e;
}
#DashboardMenu,
#GaleriaPublica,
#LabelElegirImagenes i,
#botonAgregarImagenes,
.description-edit-container.visible .original-description,
input[type="file"] {
    display: none;
}
.form-control {
    resize: none;
}
.carousel-inner img {
    max-width: 100%;
    height: auto;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.image-container {
    overflow: hidden;
    width: 100%;
    padding-bottom: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.card-body.dark,
.modal-body.dark {
    background-color: #18191a !important;
    color: #fff;
}
.dialogAlbum {
    border-radius: 1rem;
    border: none;
    padding: 0;
    position: absolute;
    top: calc((100vh - 394px) / 2);
    left: calc((100vw - 386px) / 2);
}
.dialogAlbum::backdrop {
    backdrop-filter: blur(4px);
}
.dialogAlbum.open {
    opacity: 1;
}
.headerDialogAlbum {
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    position: relative;
}
.headerTextoDialogAlbum {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}
.botonHeader {
    border: none;
    font-size: 1.25rem;
    line-height: 1.75rem;
    background-color: #f3f4f6;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    top: 1.5rem;
    right: 1rem;
    position: absolute;
}
.spanHeader {
    color: red;
}
.Main {
    padding: 4rem 2rem;
    background-color: #fff;
}
.imagenDivDialogAlbum {
    align-items: center;
    display: flex;
    margin-top: calc(0.75rem * calc(1 - 0));
    margin-bottom: calc(0.75rem * calc(1 - 0));
}
.imagenLabelDialogAlbum {
    margin-right: auto;
    width: 60%;
    color: #9ca3af;
}
.imagenInputDialogAlbum,
select {
    padding: 0.5rem 0.75rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
}
.footerDialogAlbum {
    padding: 1rem 2rem;
    background-color: #f3f4f6;
    gap: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    justify-content: flex-end;
    display: flex;
}
.cancelFooterDialogAlbum {
    color: #9ca3af;
    cursor: pointer;
    border: none;
}
.saveFooterDialogAlbum {
    padding: 0.75rem 1.25rem;
    color: #fff;
    background-color: #3b82f6;
    border-radius: 0.75rem;
    border: none;
}
.saveFooterDialogAlbum:hover {
    background-color: #316aca;
}
.cancelFooterDialogAlbum:hover {
    color: #6b7280;
    background-color: #6b7280;
}
.botonHeader:hover {
    background-color: #ebeef2;
}
.inputFileMask {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 100%;
    justify-content: space-between;
}
.inputFileMask:hover {
    background-color: #38843c;
}
#btn-new-post-photo {
    margin-left: 16px;
}
@media only screen and (max-width: 768px) {
    .modal-backdrop.fade,
    .modal-open,
    .modal.fade,
    .modal.fade.show {
        padding-right: 0 !important;
    }
    #btn-new-post-photo {
        width: 25%;
    }
    #LabelElegirImagenes i {
        display: inline;
        border-radius: 4px;
        position: relative;
        top: 15%;
        color: #fff;
        padding: 0.3rem 1rem;
    }
    #InputElegirImagenes {
        display: none;
    }
    .modal-backdrop.fade {
        width: 100%;
        height: 100%;
    }
    #pagination-container {
        margin-left: 5.8rem;
    }
    .dialogAlbum {
        top: calc((100vh - 394px) / 2);
        left: calc((184vw - 386px) / 4);
        width: 386px;
    }
}
@media only screen and (max-width: 480px) {
    .modal-backdrop.fade,
    .modal-open,
    .modal.fade,
    .modal.fade.show {
        padding-right: 0 !important;
    }
    #btn-new-post-photo {
        width: 25%;
    }
    .modal-backdrop.fade {
        width: 100%;
        height: 100%;
    }
    #pagination-container {
        margin-left: 5.8rem;
    }
    .dialogAlbum {
        width: 386px;
        top: calc((297vh - 394px) / 8);
        left: calc((272vw - 386px) / 8);
    }
}
@media only screen and (max-width: 1440px) {
    .modal-backdrop.fade,
    .modal-open,
    .modal.fade,
    .modal.fade.show {
        padding-right: 0 !important;
    }
    .modal-backdrop.fade {
        width: 100%;
        height: 100%;
    }
    .pagination {
        position: relative;
        justify-content: center;
    }
    #pagination-container {
        margin-left: 5.8rem;
    }
}
@media only screen and (min-width: 769px) {
    #LabelElegirImagenes i {
        display: inline;
        border-radius: 4px;
        position: relative;
        top: 15%;
        color: #fff;
        padding: 0.3rem 1rem;
        cursor: pointer;
    }
    #InputElegirImagenes {
        display: none;
    }
}
.btn-primary{
    border-color: unset;
}
.btn-primary:hover{
    background-color: #334ec4 !important;
}

.checkbox-container {
    text-align: center;
    margin-bottom: 100px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 350px;
    margin-bottom: 100px;
}

.BotonError{
    background-color:red;
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 10rem; 
    display: inline-flex;


}
.btn-pressed{
    color: black;
    border-radius: 10rem;
    background-color: #00ff37; /* Cambia esto al color que desees */
    border-color: #00ff73;     /* Cambia esto al color que desees */
}
.btn-pressed:hover {
    background-color: #00ff37; /* Cambia esto al color que desees */
    border-color: #00ff73; 
}

/* Estilos para el botón flotante */
.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFF;
    color: #707070;
    border: none;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
    z-index: 1000;
}

/* Estilos para el menú flotante */
.fab-menu {
    display: flex;
    background-color: #FFF;
    position: fixed;
    bottom: 20px; /* Alineado con el botón */
    right: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
    z-index: 999;
    width: 60px;
    height: 0; /* Altura inicial 0 */
    overflow: hidden; /* Oculta el contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: height 0.1s ease-in-out; /* Transición de la altura */
}

.fab-menu-3-btns.show {
    height: 17rem; /* Altura final del menú con 3 botones */
}

.fab-menu-4-btns.show {
    height: 22rem; /* Altura final del menú con 4 botones */
}

.fab-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.3rem;
    gap: 1.6rem;
}

.fab-menu-btn {
    background-color: transparent;
    color: #707070;
    border: none;
    padding: 0.2rem 0;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.fab-menu-btn i {
    color: #707070; /* Color por defecto de los íconos */
}

.fab-menu-btn:hover, .fab:hover {
    background-color: #20327e;
    color: #FFF;
}

.fab-menu-btn:hover i {
    color: #FFF; /* Color de los íconos al hacer hover */
}

/* Tooltip container */
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    visibility: hidden;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip.visible {
    visibility: visible;
    opacity: 1;
}
.TituloUsuario{
    display: none !important;
}
/* El color del texto del título se tiene que cambiar en el script de Modo Oscuro de ImagenesDinamicas.js  */
.titulo {
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    padding: 20px;
}
