body, html {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content{
margin-top: 40px;
  }
  
  .login-content {
    font-family: 'Oswald', sans-serif;
    color: #20327e;
    max-width: 500px;
    width: 90%;
    height: 600px;
    background: linear-gradient(to right,skyblue, lightgreen);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
  }
  
  .avatar {
    width: 250px;
    height: auto;
  }

 
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  


input.login100-form-btn {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  border-radius: 50px;
  background: -webkit-linear-gradient(right, BLUE, lightgreen);
  -webkit-transition: background-color 0.4s ease-in-out 0.2s, color 0.4s ease-in-out 0.2s; /* Agregamos el delay (0.2s) al inicio */
  transition: background-color 0.4s ease-in-out 0.2s, color 0.4s ease-in-out 0.2s; /* Agregamos el delay (0.2s) al inicio */
}

input.login100-form-btn:hover {
  background: -webkit-linear-gradient(right, purple, lightgreen);
  color: black;
  -webkit-transition-delay: 0s;   
  transition-delay: 0s; 
}


input{
  width: 70%;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  outline: none;

}

.input100{
  background-color: white;
padding: 10px;
margin: 10px;
}

.input100:hover{
  background-color: #20327e !important;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:hover::placeholder {
color: white;
}

.input100::placeholder{

  color:  #20327e;
}
#lightSwitch {
    transform: scale(1.8);
  }
  
  .custom-theme.bg-light {
    background-color: #20327e !important;
    border-radius: 3px;
    color: gainsboro;
    text-decoration: underline;
  }
  
  .custom-theme.bg-dark {
    background-color: blanchedalmond !important;
    box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
    color: #20327e;
    text-decoration: overline;
  }
.Switch{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index as needed */
}

/*Logo Vierci de la pagina de login*/
.LogoVierci {
  width: 60%;
  height: 60%;
}
/* Add media queries for adjusting padding and margins */
@media (max-width: 768px) {
  .login-content {
    padding: 10px; /* Adjust as needed */
  }
}
/* Código comparado con el repo de Lucas. */